@use "../../../../src/scss/base/variables" as variables;
@use "../../../../src/scss/base/mixins" as *;

.map {
    text {
        font-size: 25px;

        @include tablet {
            font-size: 20px;
        }
    }

    &_wrapper {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;

        @include tablet {
            flex-direction: row;
        }

        &_svg {
            @include tablet {
                flex: 2;
            }

            svg {
                width: 100%;
                height: fit-content;
            }
        }

        &_content {

            @include tablet {
                flex: 1;
            }
        }
    }
}