@use "../base/variables" as variables;
@use "../base/mixins" as *;
@use "../base/keyframes" as *;

.cta {
    display: inline-block;

    &:not(.cta_link) {
        padding: 15px 40px;
    }

    &,
    & a {
        color: variables.$white;
        text-decoration: none;
        font-size: 16px;
        border-radius: 50rem;
        transition: background-color .3s ease;
    }

    & a {
        padding: 10px 20px;
    }

    &:hover {
        opacity: 1;
        cursor: pointer;
        transition: background-color .3s ease;
    }

    &_primary:not(li),
    &_primary a {
        background-color: variables.$red;

        &:hover {
            background-color: variables.$dark;

            .cta_arrow path {
                stroke: variables.$white;
            }
        }

        .cta_arrow path {
            stroke: variables.$dark;
        }
    }

    &_secondary:not(li),
    &_secondary a {
        background-color: variables.$red;
        
        &:hover {
            background-color:variables.$dark;

            .cta_arrow path {
                stroke: variables.$dark;
            }
        }

        .cta_arrow path {
            stroke: variables.$white;
        }
    }


    &_tertiary:not(li),
    &_tertiary a {
        background-color: variables.$darkgreen;
        
        &:hover {
            background-color:variables.$dark;

            .cta_arrow path {
                stroke: variables.$dark;
            }
        }

        .cta_arrow path {
            stroke: variables.$white;
        }
    }

    &_darkred:not(li),
    &_darkred a {
        background-color: variables.$darkred;
        
        &:hover {
            background-color:variables.$dark;

            .cta_arrow path {
                stroke: variables.$dark;
            }
        }

        .cta_arrow path {
            stroke: variables.$white;
        }
    }

    &_darkgreen:not(li),
    &_darkgreen a {
        background-color: variables.$darkgreen;
        
        &:hover {
            background-color:variables.$dark;

            .cta_arrow path {
                stroke: variables.$dark;
            }
        }

        .cta_arrow path {
            stroke: variables.$white;
        }
    }   

    &_arrow  {
        margin-left: 5px;
        transform: rotate(180deg);

        path {
            transition: stroke .3s ease;
        }
    }

    &_link {
        padding: 0;
        color: variables.$grey;

        .cta_arrow_up {
            fill: variables.$grey;
        }
    }
}

li.cta {
    padding: 0!important;
}