@use "../base/variables" as variables;
@use "../base/mixins" as *;

.gform {
    &_heading {
        display: none!important;
    }
}

form:not(#adminbarsearch) {
    .gform {
        &_footer {
            display: flex;
            justify-content: flex-end;
        }

        &_fields {
            row-gap : 25px!important;

            @include desktop {
                column-gap : 25px!important;
            }
        }
    }

    .gfield {
        position: relative;

        &_consent_label {
            font-size: variables.$text_small!important;
        }
        
        &_required_text {
            display: none!important;
        }
    }

    input:not([type=radio]),
    textarea,
    select {
        padding: 20px!important;
        border-radius: 5px!important;
        color: variables.$dark!important;
        border: 1px solid variables.$grey;
        transition: border .3s ease;;

        &:focus {
            border: 1px solid variables.$grey;
            transition: border .3s ease;;
        }
    }

    input {
        &[type=submit],
        &[type=button] {
            background-color: variables.$red!important;
            border-radius: 5px!important;
            text-transform: uppercase!important;
            border: 0!important;
            letter-spacing: 1.5px!important;
            padding: 15px 40px!important;
            color: variables.$white!important;

            &:hover {
                background-color: variables.$dark!important;
                transition: background-color .3s ease!important;
                cursor: pointer!important
            }   
        }

        &[type=submit] {
            border-radius: 50rem!important;
            display: inline-block!important;
            width: 100%!important;
        }

        &[type=checkbox] {
            width: 20px!important;
            height: 20px!important;
            padding: 0!important;
            border-radius: 5px!important;
        }
    }

    &.search-form {
        position: relative;
        max-width: 300px;
        width: 100%;

        .search-submit {
            aspect-ratio: 1/1;
            border-radius: 50rem;
            width: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 4px;
            top: calc(50% - 22.5px);
            transition: background-color 0.3s ease;

            path {
                transition: fill 0.3s ease;
            }

            &:hover {
                background-color: variables.$red;
                transition: background-color 0.3s ease;

                path {
                    fill: variables.$white;
                    transition: fill 0.3s ease;
                }
            }
        }

        input {
            width: 100%;
            padding: 17px 20px!important;
            background-color: rgba(0,0,0,0.5);
            border: 2px solid variables.$white;
            transition: border 0.3s ease;
            border-radius: variables.$border_rounded!important;
            color: variables.$white!important;

            &:focus {
                border: 2px solid variables.$red;
                transition: border 0.3s ease;
            }

            &::placeholder {
                color: variables.$white;
            }
        }
    }

    &.form_contact {
        .gfield_radio {
            border-radius: 5px;
            background-color: variables.$lightgrey;
            flex-direction: row!important;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 10px;
            gap: 0;
            
            label {
                padding: 10px 20px;
                border-radius: 5px;
                margin: 0;
                width: 100%;

                &:hover {
                    cursor: pointer;
                }
            }

            input {
                appearance: none;
                display: none;

                &:checked + label {
                    background-color: variables.$white;
                    border: 1px solid variables.$dark;
                }
            }
        }
    }
}

footer + form:not(#adminbarsearch).search-form {
    width: 49px!important;
    transition: width 0.3s ease;
    z-index: 5;
    position: fixed;
    right: 20px;
    bottom: 20px;

    &:hover {
        width: 280px!important;
        transition: width 0.3s ease;

        input {
            opacity: 1!important;
            transition: opacity 0.3s ease;
        }
    }

    .search-submit {
        right: 2px;
        top: 2px;
    }

    input {
        opacity: 0!important;
        border: 2px solid transparent;
        padding: 15px 50px 15px 20px!important;
        color: variables.$white!important;
        transition: opacity 0.3s ease;
    }
}