@use "../base/variables" as variables;
@use "../base/mixins" as *;

.header.scrolled-js {
    .header_nav_desktop {
        .menu_burger_nav_wrapper:first-child {
            @include tablet {
                height: 0;
                overflow: hidden;
                position: absolute;
                transition: height 0.3s ease;
            }
        }
    }
}

.burger {
    &_button {
        border-radius: 50rem;
        padding: 10px;
        background-color: variables.$dark;
        border: 1px solid variables.$dark;
        color: variables.$white;
        display: block;

        @include tablet {
            display: none;
        }

        &:hover {
            border: 1px solid variables.$dark;
            background-color: transparent;
            color: variables.$dark;
            transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
        }
    }
}

.menu {
    &_burger {
        position: fixed;
        visibility: hidden;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.95);
        transform: translateX(100%);
        transition: transform 0.3s ease, visibility 0.3s ease;

        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &_open {
            transform: translateX(0);
            overflow-y: auto;
            visibility: visible;

            @include tablet {
                .menu_burger_nav_wp ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        &_nav_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: auto;
            transition: height 0.3s ease;

            li {
                &:not(:last-child) {
                    margin-bottom: 15px;

                    @include tablet {
                        margin-bottom: 0;
                    }
                }

                &:not(.cta) a {
                    color: variables.$dark;
                    font-weight: 500;

                    &:hover {
                        color: variables.$red;
                    }
                }
            }

            a {
                text-decoration: none;
                display: inline-block;
            }

            ul {
                list-style: none;
                margin: 0;
                padding-left: 0;
                display: flex;
                flex-direction: column;
                gap: 10px;

                @include tablet {
                    flex-direction: row;
                }
            }
        }

        &_nav {
            padding-left: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 15px;

            a {
                text-decoration: none;
                @include font;
                font-size: 2rem;
                text-transform: uppercase;
            }

            li {
                &:not(.cta) a {
                    text-decoration: none;
                    color: variables.$white;
                    font-weight: 600;
                    transition: 0.2s;

                    &:hover {
                        color: variables.$dark;
                    }
                }

                &.current-menu-item:not(.cta) a {
                    color: variables.$dark;
                }

                &.cta {
                    width: fit-content;
                    margin-top: 30px;
                }
            }
        }

        &_button_close {
            position: absolute;
            top: 20px;
            right: 20px;
            aspect-ratio: 1 / 1;
            color: variables.$dark;
            width: 50px;
            height: 50px;
            line-height: 0;
            font-size: 30px;
            padding: 10px;
            border-radius: 50rem;
            border: 1px solid variables.$dark;
            cursor: pointer;
        }
    }
}