@use "../base/variables" as variables;
@use "../base/mixins" as *;

.post_pagination {
    display: flex; 
    justify-content: space-between;
    margin-top: 50px;

    &_link {
        text-decoration: none;
        color: variables.$dark;
        transition: margin-left 0.3s ease;

        &_prev {
            &:hover {
                margin-left: -10px;
                transition: margin-left 0.3s ease;
            }
        }

        &_next {
            transition: margin-right 0.3s ease;

            svg {
                transform: rotate(180deg);
            }

            &:hover {
                margin-right: -10px;
                transition: margin-right 0.3s ease;
            }
        }
    }
}