@use "variables" as variables;
@use "mixins" as *;

/* ----------------------------------------------------------------
	Settings
-----------------------------------------------------------------*/

*, *:before, *:after{
    box-sizing: border-box;
    outline: none;
}

html, body {
	font-family: variables.$font_text;
	font-weight: 400;
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-size: variables.$text_normal;
    color: variables.$dark;
    line-height: 1.5;
    margin: 0;
}

body > form.search-form {
    width: 250px!important;

    input {
        border: 2px solid transparent;
        padding: 15px 20px!important;
        color: variables.$white;
    }

    .search-submit {
        right: 2px;
        top: 2px;
    }

    @include tablet {
        transform: rotate(-90deg);
        position: fixed;
        right: 20px;
        top: 50vh;
        z-index: 5;
    }
}

button {
    border: 0;
}

button,
a {    
    &:hover {
        cursor: pointer;
    }
}

ul {
    list-style: outside;
    font-weight: 300;
}

::selection {
	background: variables.$dark;
	color: variables.$white;
	text-shadow: none;
}

:active, :focus { outline: none !important; }

img { width: 100%; height: auto; }

.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 576px) {
        max-width: 540px;
    }
    @include tablet {
        max-width: 720px;
    }
    @include large {
        max-width: 992px;
    }
    @include desktop {
        max-width: 1400px;
    }
}

.p {
    &-top {
        padding-top: 100px;
    }

    &-bottom {
        padding-bottom: 100px;
    }

    &-both,
    &-top-bottom {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &-none {
        padding: 0;
    }
}

.text-align {
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }
    &-center {
        text-align: center
    }
}

blockquote {
    position: relative;
    padding-left: 40px;
}

blockquote::before {
    content: "";
    height: 100%;
    background-color: variables.$darkgreen;
    position: absolute;
    width: 10px;
    border-radius: 10px;
    left: 0;
    top: -5px;
}

.bg_text {
    padding: 20px;
    border-radius: 20px;

    &_pink {
        background: variables.$darkgreen;
    }

    &_yellow {
        background: variables.$dark;
    }

    &_blue {
        background: variables.$dark;

        &,
        a {
            color: variables.$white;
        }
    }
}

.social {
    ul {
        display: flex;
        gap: 10px;
    }

    a {
        background-color: variables.$red;
        display: block;
        padding: 5px;
        border-radius: variables.$border_rounded;
        transition: background-color .3s ease;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: variables.$red;
            transition: background-color .3s ease;
        }
    }

    svg {
        width: 100%;
        max-width: 15px;
        max-height: 15px;
        height: 100%;
        fill: variables.$white
    }
}

.pagination {
    width: 100%;
    margin-top: 50px;
    
    .nav-links {
        display: flex;
        gap: 15px;
        justify-content: center;

        .page-numbers {
            border-radius: 50rem;
            border: 1px solid variables.$grey;
            padding: 18px;
            text-decoration: none;
            color: initial;
            aspect-ratio: 1 / 1;
            min-width: 40px;
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: variables.$lightgrey;
                transition: background-color 0.3s ease;
            }
        }

        .current {
            background-color: variables.$lightgrey;
            border: 1px solid variables.$lightgrey;
        }

        .prev {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}