@use "variables" as variables;
@use "mixins" as *;

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    line-height: 1.1em;
    @include font;
}

h1,
.h1 {
    font-size: clamp(1rem, 8.5vw, 4.5rem);
}

h2,
.h2 {
    font-size: clamp(1.7rem, 6vw, 50px);
    font-weight: 400;
    margin-bottom: 15px;
}

h3,
.h3 {
    font-size: clamp(2rem, 6vw, 1rem);
    font-weight: 400;
    margin-bottom: 15px;
}

h4,
.h4 {
    font-size: 1.2rem;
}

.text_color {
    &_orange {
        color: variables.$red;
    }
    &_yellow {
        color: variables.$dark;
    }
    &_blue {
        color: variables.$dark;
    }
    &_darkblue {
        color: variables.$darkred;
    }
    &_grey {
        color: variables.$dark;
    }
}