$darkred : #691F35;
$darkgreen: #1F5869;
$yellow: #FBBC05;
$red : #E50044;
$white: #fff;
$dark: #3D3D3D;
$grey: #848484;
$lightgrey: #EFEFEF;
$blue : #0086ff;

$font_text: 'roboto', sans-serif;

$text_small : .7rem;
$text_normal : 1rem;

$border_rounded : 50rem;
$border_radius_small_element : 5px;