@use "../../../../src/scss/base/variables" as variables;
@use "../../../../src/scss/base/mixins" as *;

.breakingnews {
    &_header {
        background: variables.$red;
        padding: 20px;
        border-radius: 20px;
        width: fit-content;
        z-index: 1;
        position: relative;
    }

    .container {
        max-width: 1200px;
    }

    .cta_link {
        color: variables.$white;

        .cta_arrow_up {
            fill: variables.$white;
        }
    }

    &_title {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;

        &_sup {
            font-size: 1.2rem;
            display: block;
            line-height: 1.2;
        }
    }

    &_text,
    &_title,
    &_title_sup {
        color: variables.$white;
    }

    &_swiper {
        position: relative;
        margin-top: -50px;
        z-index: 0;

        @include tablet {
            margin-top: -100px;
        }

        .swiper-wrapper {
            display: flex;
        }
    }

    &_img_wrapper {
        max-height: 450px;
        border-radius: 10px;
        overflow: hidden;
        max-width: 1000px;
        width: 100%;
        margin: auto;

        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
        }
    }

    &_content {
        background-color: variables.$lightgrey;
        border: 2px solid variables.$white;
        border-radius: 10px;
        margin-left: auto;
        margin-top: -20px;
        z-index: 2;
        max-width: 450px;
        position: relative;
        padding: 10px 20px;

        @include tablet {
            margin-top: -50px;
            padding: 20px 30px;
        }
    }

    &_heading {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 0;
    }

    &_description {
        font-size: 1rem;
        margin-bottom: 0;
    }

    &_nav {
        z-index: 10;
        position: relative;

        @include tablet {
            top: 490px;
            width: 105px;
            left: calc(100% - 565px);
        }

        .breakingnews_prev,
        .breakingnews_next {
            background: variables.$dark;
        }
    }

    .cta {
        margin-top: 30px;
        color: variables.$dark;
        font-weight: 700;

        svg path {
            fill: variables.$dark;
        }

        & > svg:first-child {
            display: none;
        }
    }
}
