@use "../base/mixins" as *;

.archive {
    &_post {
        &_grid {
            display: flex;
            gap: 20px;
        }
    }

    .post_link-js {
        height: 0;
        width: 0;
        overflow: hidden;
        transition: height 0.3s ease, width 0.3s ease;
        padding: 0;

        &.post_active-js {
            height: 100%;
            padding: 20px;
            transition: height 0.3s ease, width 0.3s ease;
            width: 100%;

            @include tablet {
                width: 50%;
            }

            @include large {
                width: 25%;
            }
        }
    }
}