@use "../base/variables" as variables;
@use "../base/mixins" as *;


.archive_carriere {
    .container_carriere_filter {
        display: grid;
        gap: 20px;

        @include tablet {
            grid-template-columns: 1fr 3fr;
        }
    }

    &_filter {
        background-color: variables.$lightgrey;
        border-radius: 20px;
        padding: 50px;
        height: max-content;
    }

    &_posts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        .post {
            &_card {
                background-color: transparent;
                border: 1px solid variables.$grey;
                flex-direction: row;

                @include tablet {
                    gap: 20px;
                }

                &_img {
                    &_wrapper {
                        width: 100%;

                        @include tablet {
                            max-width: 180px;
                        }
                    }
                    
                    @include tablet {
                        max-height: 180px;
                        max-width: 180px;
                        width: 100%;
                        height: 100%;
                        aspect-ratio: 1/1;
                        margin-bottom: 0;
                    }
                }

                &_content_wrapper {
                    width: 100%;
                }

                &_title {
                    font-weight: bold;
                    font-size: 1.5rem;
                }

                &_top {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 20px;
                }

                &_bottom {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;

                    &_infos {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: 5px;

                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .carriere-filters {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h4 {
            margin-top: 0;
        }

        label {
            display: block;
            margin-bottom: 0.3rem;
            font-size: 0.95rem;

            input[type="checkbox"] {
            margin-right: 0.5rem;
            }
        }

        .cta {
            width: 100%;
        }
    }
}