@use "../base/mixins" as *;

.archive {
    &_post {
        &_grid {
            display: flex;
            gap: 20px;
            flex-direction: column;
            flex-wrap: wrap;
            
            @include tablet {
                flex-direction: row;
            }
        }
    }

    .post_card_img_wrapper {
        margin-bottom: 30px;
    }

    .post_link-js {
        height: 0;
        width: 0;
        overflow: hidden;
        display: none!important;
        transition: height 0.3s ease, width 0.3s ease;
        padding: 0;

        &.post_active-js {
            align-items: stretch;
            display: flex!important;
            height: auto;
            padding: 20px;
            transition: height 0.3s ease, width 0.3s ease;
            width: 100%;

            @include tablet {
                width: calc(50% - 20px)
            }

            @include large {
                width: calc(25% - 20px)
            }
        }
    }
}