@use "../base/variables" as variables;
@use "../base/mixins" as *;

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.footer {
    padding: 50px 0;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 65px;
    }

    /*.menu {
        &_burger {
            position: absolute;
            top: 100%;
            left: -100vw;
            width: 100vw;
            background-color: variables.$white;
            padding: 40px 20px;
            transition: left .3s ease;
            z-index: 10;
        }
    }*/

    .menu_burger_nav_wrapper ul,
    ul {
        padding-left: 0;
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }

    .cky-banner-element,
    .menu_burger_nav_wrapper li {
        position: relative;
    }

    .menu_burger_nav_wrapper {
        li {
            padding: 0;
            background-color: transparent;
        }

        a {
            color: variables.$dark;
            transition: color .3s ease;

            &:hover {
                color: variables.$red;
                transition: color .3s ease;
            }
        }
    }

    .cky-banner-element {
        background: transparent;
        border: 0;
        padding: 0;
        font-size: 16px;
        margin-top: 13px;
	    font-family: variables.$font_text;
        font-weight: 300;

        &:hover {
            cursor: pointer;
            color: variables.$dark;
        }
    }

    &_top {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: center;
        gap: 20px;

        @include tablet {
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 1fr;
            gap: 5%;
        }

        .menu_burger_nav_wrapper {
            ul {
                display: flex;
                flex-direction: column;
                padding: 40px 20px;
                justify-content: center;
                align-items: center;
                gap: 15px;
                border-radius: variables.$border_rounded;
                border: 1px solid variables.$red;
                background: rgba(229, 0, 68, 0.10);

                @include tablet {
                    flex-direction: row;
                    gap: 40px;
                    padding: 15px 20px;
                }

                a {
                    background-color: transparent;
                    padding: 0;
                    margin-bottom: 0;
                }
            }
        }

        .cta {
            &,
            &.burger_button {
                display: flex;
                justify-content: center;
                align-items: center;
                border-color: variables.$red;
                &:hover {
                    color: variables.$white;
                    border-color: variables.$dark;
                }
            }
        }
    }
    
    &_bottom {
        &,
        &_company {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }

        &_company {
            text-align: center;

            li {
                padding-bottom: 10px;
            }

            a {
                color: variables.$dark;
                transition: color .3s ease;

                &:hover {
                    color: variables.$red;
                    transition: color .3s ease;
                }
            }

            &_logo {
                img {
                    max-width: 320px;
                    display: block;
                }
            }
        }

        &_infos {
            &_company,
            &_created,
            &_legal {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-bottom: 0;
                gap: 10px;

                @include tablet {
                    gap: 20px;
                }
            }

            &_company {
                li {
                    position: relative;

                    &:not(:last-child):after {
                        content: '/';
                        color: variables.$dark;
                        position: absolute;
                        right: -13px;
                        top: 0;
                    }
                }
            }

            &_legal {
                a {
                    color: variables.$dark;
                    font-weight: 300;
                    -webkit-transition: 0.2s ease-in-out;
                    -o-transition: 0.2s ease-in-out;
                    transition: 0.2s ease-in-out;
                    text-decoration: none;
                    transition: color .3s ease;
                    
                    &:hover {
                        color: variables.$red;
                        transition: color .3s ease;
                    }
                }

                ul {
                    position: relative;
                    margin-top: 13px;
                }
            }
        }

        &_logos {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
            margin: 0;

            @include tablet {
                gap: 50px;
            }

            img {
                max-height: 50px;
                max-width: 200px;
                width: auto;
                height: auto;
            }
        }
    }

    .social ul {
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_designed {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 12px;
            margin-left: 5px;
        }

        .logo_brillant {
            &_wrapper {
                display: inline-flex;
                align-items: flex-end;
                margin-left: 5px;
                position: relative;  
            }

            &_svg {
                position: relative;
                z-index: 1;

                path {
                    opacity: 1;
                    transition: .5s ease;
                }

                &:hover {
                    cursor: pointer;

                    & path:not(.favicon_b) {
                        opacity: 0;
                        transition: .5s ease;
                    }

                    .favicon_b {
                        transform: scale(1.5);
                        transition: transform .5s ease;
                    }

                    & + .logo_brillant_font {
                        width: 80px;
                        transition: .5s ease;

                        path {
                            opacity: 0; 
                            animation: fadeIn 1s forwards;   
                            transition: width .5s ease;
                        }
                        
                        .path1 {
                            animation-delay: 0s;  
                        }

                        .path2 {
                            animation-delay: 0.1s;
                        }

                        .path3 {
                            animation-delay: 0.2s;
                        }

                        .path4 {
                            animation-delay: 0.3s;
                        }

                        .path5 {
                            animation-delay: 0.4s;
                        }

                        .path6 {
                            animation-delay: 0.5s;
                        }

                        .path7 {
                            animation-delay: 0.6s;
                        }

                        .path8 {
                            animation-delay: 0.7s;
                        }

                        .path9 {
                            animation-delay: 0.8s;
                        }
                    }
                }

                .favicon_b {
                    transform: scale(1);
                    transform-origin: center;
                    transition: transform .5s ease;
                }

                & + .logo_brillant_font {
                    overflow: hidden;
                    transform: scale(0.7);
                    width: 0;
                    margin-bottom: 8px;
                    transition: width .5s ease;
                    position: absolute;
                    z-index: 0;
                    left: -2px;
                    bottom: -18px;
                }
            }
        }
    }  
}