@use "../../../../src/scss/base/variables" as variables;
@use "../../../../src/scss/base/mixins" as *;

.reassurances {
    &_list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        @include tablet {
            gap: 50px;
        }
    }

    &_number {
        color: variables.$red;
        font-size: 4rem;
        font-weight: 700;
    }

    &_number,
    &_text {
        text-align: center;
        margin: 0;
    }
}