@use "../../../../src/scss/base/variables" as variables;
@use "../../../../src/scss/base/mixins" as *;

.block_form {
    background-color: variables.$lightgrey;
    padding: 30px;
    border-radius: 20px;
    max-width: 750px;
    margin: auto;

    form {
        background-color: variables.$white;
        padding: 20px;
        border-radius: 20px;
    }
}