@use "../../../../src/scss/base/variables" as variables;
@use "../../../../src/scss/base/mixins" as *;

.block_contact {
	.container {
		margin: auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		background-color: variables.$lightgrey;
		flex-direction: column;
		padding: 10px;
		border-radius: 20px;

		@include tablet {
			max-width: 1200px;
		}
	}

	&:not(.contact_container) .contact_text_wrapper {
		max-width: 900px;
	}

	.contact {
		&_container {
			@include tablet {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr;
			}
		}

		&_title {
			margin-top: 0;
		}

		&_text {
			a {
				text-decoration: none;

				&_wrapper {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding: 40px;
				}
			}
		}

		&_form {
			&_wrapper {
				position: relative;
				max-width: 900px;
			    margin: auto;
				background-color: variables.$white;
				padding: 20px;
				border-radius: 20px;

				form {
					margin-top: 50px;
				}
			}
		}

		&_infos {
			padding: 15px;
			border-radius: 10px;
			background-color: variables.$white;
			text-align: center;
			text-decoration: none;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			color: variables.$grey;
			min-width: 140px;
			width: 100%;

			@include tablet {	
				flex: 1;
			}

			span:not(.contact_infos_title) {
				font-size: initial;
				color: variables.$dark;
				display: block;
				margin-top: 5px;
				word-break: break-word;
			}

			img {
				width: 30px;
				height: 30px;
				display: block;
			}

			&_wrapper {
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
			}
		}
	}
}